.table-span span {
  color: #333;
  font-size: 13pt;
}
.author {
  color: #999 !important;
  font-size: 10pt !important;
}
.banner {
  position: relative;
  text-align: center;
  color: white;
}
.banner img {
  width: 100% !important;
  height: 200px !important;
}
.bottom-left h1{
  position: absolute;
  bottom: 40px;
  left: 100px;
}
.bottom-left h3{
  position: absolute;
  bottom: 20px;
  left: 100px;
}

.hover_delete svg{
  visibility:hidden;
}
.hover_delete:hover svg {
 visibility:visible;
}